* {
  box-sizing: border-box;
  font-family: "Stack Sans Headline", sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    to right,
    #01152a 0%,
    #125582 70%,
    #08304b 100%
  );
  z-index: 10;
}
.section-title {
  font-size: 35px;
  margin: 0;
}

.navbar-nav .nav-link,
.active {
  color: #fff !important;
}

.nav-link {
  text-align: center;
}

#cover {
  background-image: url("Images/Section_Hero.png");
  top: 0;
  background-size: cover; /* Preenche o espaço */
  background-repeat: no-repeat; /* Evita repetição */
  /* background-position: center; */
  color: #fff;
  padding-bottom: 100px;
}

#logo svg {
  margin-right: 16px;
}

#logo h1 {
  font-size: 20px;
  color: #ffffff;
  margin-right: 50px;
  margin-top: 9px;
}

#main-content {
  max-width: 630px;
  margin-top: 50px;
}

#main-content h2 {
  font-size: 50px;
}

#main-content p {
  font-size: 1em;
}

#main-content button {
  font-size: 1.125em;
}

/* Section products style */

#shopBtnLogo {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

#searchInput::placeholder {
  color: rgba(16, 24, 40, 0.38);
}

#searchInput,
#searchIconProducts {
  background-color: #f4f4f4;
}

#storeNav button {
  color: rgba(0, 0, 0, 0.7);
}

#storeNav .nav-link.active {
  background: linear-gradient(90deg, #101828 0%, #233250 100%);
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

/*End Section products style */

/* Sevices style */

#services {
  background-color: transparent;
}

.services-img {
  max-width: 350px;
  max-height: 350px;
}

#services p {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #cover {
    background-position: center;
  }
}

/*End Sevices style */

/* Our Team style */

#ourTeam .card-body p {
  color: rgba(16, 24, 40, 0.5);
}

/* End Our Team style */

/* Get In Touch style */

#getInTouch {
  background-color: #101828;
  padding: 70px 0 70px 0;
}

.bg-fill-gradient {
  background: linear-gradient(135deg, #101828 0%, #233250 100%);
  border-radius: 0.75rem; /* arredondado */
}

.contactCard {
  max-width: 272px;
}

.contactCard p {
  color: white;
}

.cardText p:nth-child(1) {
  margin-bottom: 0;
}

.cardText p:nth-child(2) {
  color: #cecece;
}
/* End Get In Touch style */

#carousel {
  background-color: #101828;
}
